.products_container{
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
    margin: 5rem auto;
    
}

.products_elements{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.products_element_name{
    margin-bottom: auto;
    font-weight: bold;
}

.products_element_img{
    width: 100%;
    height: 270px;
    margin-top:var(--spacing-medium);
    object-fit: contain;
}

.products_element_price{
    margin-top:var(--spacing-medium);
    color: var( --color-unaccent);
}

.products_element_btn{
    margin-top:var(--spacing-medium);
    padding: 10px 15px;
    border: 1px solid var(--color-unaccent);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
}

.products_element_btn_active{
    border: 1px solid transparent;
    background:var(--linear-gradient);


}